<h1>Edit your post</h1>


<form method="POST" action="/posts/<%= @post.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Album: <input type="text" name="album" value="<%= @post.album %>"></p>
    <p>Artist: <input type="text" name="artist" value="<%= @post.artist %>"></p>   
    <p>Score: <input type="number" name="score" value="<%= @post.score %>"></p>
    <p>Review: </p>
    <textarea rows="10" cols="50" name="review"><%= @post.review %></textarea>
    <br><br>
    <p><input type='submit' value="   Edit   "></p>
</form>
