<h1><%= @post.artist %> - <%= @post.album %></h1>
<br>
<h3><%= @post.score %></h3>
<h4><%= @post.review %></h4>

<% if session[:user_id] == @post.user_id %>
    <a href="/posts/<%=@post.id%>/edit">Edit</a>

    <form method="post" action="/posts/<%=@post.id%>/delete">
        <input id="hidden" type="hidden" name='_method' value="DELETE">
        <input type="submit" value="Delete">
    </form>
<% end %>
<br>