<h1><%= @post.artist %> - <%= @post.album %></h1>
<h3><%= @post.score %></h3>
<br>
<p><%= @post.review %></p>

<% if session[:user_id] == @post.user_id %>
    <form method="get" action="/posts/<%=@post.id%>/edit">
        <input type="submit" value="Edit">
    </form>
    <br>
    <form method="post" action="/posts/<%=@post.id%>/delete">
        <input id="hidden" type="hidden" name='_method' value="DELETE">
        <input type="submit" value="Delete">
    </form>
<% end %>
<br><br>